// progression of https://github.com/horst3180/arc-firefox-theme/issues/44

textarea,
select,
input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']) {
  background-color: white;
  background-color: inherit;
  color: black;
  color: inherit;
  border: 1px solid black;
}

#downloads-indicator-counter {
  color: white;
  color: inherit;
}
